* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background--page: #F4EEE6;
    --background--textarea: #E5E5E5;
    --button-green: #62dc79;
    --button-green1: #0ea52e;
    --color-font-1: #494846;
    --color-font-1: #88857f;
}

body {
    background: var(--background--page);
}

/* ELEMENTOS */
main {
    width: 90%;
    height: 100vh;
    margin: auto;
}

form {
  width: 100%;
}

/* CONTROLE DE PAGE/SECTION */
#page1 {
  display: show;
}

#page2 {
  display: none;
}



.capture-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
}

.capture-container h2{
    padding: 0px;
    margin: auto 0px 30px 0px;
    opacity: 50%;
}

.capture-container .btn-capture {
    margin: 0px 0px auto 0px;
    width: 321px;
    height: 133px;

    font-size: 48px;
    font-weight: 700;

    background: var(--button-green);
    opacity: 70%;

    border: none;
    border-radius: 16px;

    cursor: pointer;
}

.capture-container .btn-capture:hover {
    margin: 0px 0px auto 0px;
    width: 321px;
    height: 133px;

    font-size: 48px;
    font-weight: 700;

    background: var(--button-green1);
    opacity: 70%;

    border: none;
    border-radius: 16px;

    cursor: pointer;
}

#form-capture {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  margin: 100px;
}

#form-capture .btn-capture{
  margin: 50px;
}

.capture-text {
  width: 80%;
  background-color: var(--background--textarea);
  font-size: 3rem;
  color: var(--color-font-1);
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  height: 400px;
  resize: none;
  border: solid 2px var(--button-green);
}

.logo {
    
}