<%- include("partials/head.ejs") %>

<!-- classificar home-page -->

<section class="container home-page" id="">
  <p class="logo-h1">ToDo<strong>Wish</strong></p>
  <nav class="icons-container">
    <a href="/thingCap"><img id="add" src="/assets/mais-removebg-preview.png" alt="" /></a>
    <a href="/taskList"><img id="add" src="/assets/arquivos.png" alt="" /></a>
    <a href="/"><img id="add" src="/assets/cronometro.png" alt="" /></a>
  </nav>
</section>

<%- include("partials/footer.ejs") %>