<%- include("partials/head.ejs") %>

<!-- classificar home-page -->

<section class="container home-page" id="">
  <p class="logo-h1">ToDo<strong>Wish</strong></p>
  <nav class="icons-container">
    <img id="add" src="/assets/mais-removebg-preview.png" alt="" />
    <img id="classfy" src="/assets/arquivos.png" alt="" />
    <img id="exec" src="/assets/cronometro.png" alt="" />
  </nav>
</section>

<%- include("partials/footer.ejs") %>