<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
  <script src="../public/script.js" type="module" defer></script>
  <title>ToDoWish</title>
</head>
<body>
  <main>

    <!-- captura inicial-capture -->

    <section class="container inicial-capture" id="page1">
      <h2>Capture um pensamento</h2>
      <button class="btn-capture">Capturar</button>
    </section>
 
    <!-- captura capture-thing JS -->

    <section class="container capture-thing page2">
        <textarea name="capture" id="capture" class="capture-text" placeholder="Libere sua mente! Digite aqui sua ideia!"></textarea>
        <button class="btn-capture classfy">Capturar</button>      
    </section>

    <!-- classificar home-page -->

    <section class="container home-page" id="page1">
      <p class="logo-h1">ToDo<strong>Wish</strong></p>
      <nav class="icons-container">
        <img id="add" src="../public/assets/mais-removebg-preview.png" alt="">
        <img id="classfy" src="../public/assets/arquivos.png" alt="">
        <img id="exec" src="../public/assets/cronometro.png" alt="">
      </nav>
    </section>

    <!-- processar process-main JS-->
    <section class="container process-main" id="page1">

      <h2>Tarefas para Processar</h2>
      <ul class="tasks"> 
        <li>Acalmar o gato da Sheila</li>
        <li>Pentear o cabelo do Danilo</li>
        <li>Parafusar as prateleiras do Erik</li>
        <li>Comprar cerveja para mim, IPA de preferência</li>
      </ul>      
    </section>

    <!-- processar is action JS-->
    <section class="container process-is-action" id="page1">
      <h2> Demanda sua ação ?</h2>
      <ul class="tasks selected">
        <li>Acalmar o gato da Sheila</li>
      </ul>
      <div class="bnt-container">
        <button>Sim</button>
        <button>Não</button>
      </div>
    </section> 
    <!--process do now -->
    <section class="container process-now" id="page1">

    <!-- processar is action -->
    <section class="container process" id="page1">
      <h2> Acalmar o gato da Sheila </h2>
      <div class="process-is-action">

      </div>
    </section> 

    <footer>
      <p class="logo">ToDo<strong>Wish</strong></p>
    </footer>
  </main>
</body>
</html>