<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
  <script src="../public/script.js" type="module" defer></script>
  <title>ToDoWish</title>
</head>
<body>
  <main>
    <!-- captura page1 -->
    <section class="capture-container inicial-capture" id="page1">
      <h2>Capture um pensamento</h2>
      <button class="btn-capture">Capturar</button>
    </section>
    <!-- captura page2 -->
    <section class="capture-container capture-thing page2">
      <form id="form-capture" >
        <textarea name="capture" id="capture" class="capture-text" placeholder="Libere sua mente! Digite aqui sua ideia!"></textarea>
        <button class="btn-capture ">Capturar</button>
      </form>      
    </section>
    <!-- classificar page3 -->
    <section class="capture-container home-page">
      <p class="logo-h1">ToDo<strong>Wish</strong></p>
      <nav class="icons-container">
        <img id="add" src="../public/assets/mais-removebg-preview.png" alt="">
        <img id="classfy" src="../public/assets/arquivos.png" alt="">
        <img id="exec" src="../public/assets/cronometro.png" alt="">
      </nav>
    </section>
    <footer>
      <p class="logo">ToDo<strong>Wish</strong></p>
    </footer>
  </main>
</body>
</html>