<%- include("partials/head.ejs") %>

<!-- inicial-capture -->

<section class="container inicial-capture">
  <h2>Capture um pensamento</h2>
  <button href="" class="btn-capture">Capturar</button>
</section>

<%- include("partials/footer.ejs") %>

