
<%- include("partials/head.ejs") %>

<!-- process-main JS-->

<section class="container process-main" id="">
  <h2>Tarefas para Processar</h2>
  <nav class="tasks">
  </nav>
</section>

<%- include("partials/footer.ejs") %>