
<%- include("partials/head.ejs") %>

<!-- process-main JS-->

<section class="container process-main" id="">
  <h2>Tarefas para Processar</h2>
  <ul class="tasks">
    <li>Acalmar o gato da Sheila</li>
    <li>Pentear o cabelo do Danilo</li>
    <li>Parafusar as prateleiras do Erik</li>
    <li>Comprar cerveja para mim, IPA de preferência</li>
  </ul>
</section>

<%- include("partials/footer.ejs") %>