
<%- include("partials/head.ejs") %>

<!-- process-main JS-->

<section class="container process-main" id="">
  <h2>Tarefas para Processar</h2>
  <ul class="tasks">
  </ul>
</section>

<%- include("partials/footer.ejs") %>