
<%- include("partials/head.ejs") %>

<!-- capture-thing JS -->

<section class="container capture-thing" >
  <textarea
    name="capture"
    id="capture"
    class="capture-text"
    placeholder="Libere sua mente! Digite aqui sua ideia!"
  ></textarea>
  <a href="/home"><button class="btn-capture classfy">Capturar</button></a>
</section>

<%- include("partials/footer.ejs") %>