
<%- include("partials/head.ejs") %>

<!-- capture-thing JS -->

<section class="container capture-thing" >
  <textarea
    name="capture"
    id="capture"
    class="capture-text"
    placeholder="Digite aqui sua ideia!"
  ></textarea>
  <button class="btn-capture classfy">Capturar</button>
</section>

<%- include("partials/footer.ejs") %>