* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --background--page: #f4eee6;
  --background--textarea: #e5e5e5;
  --button-green: #62dc79;
  --button-green1: #0ea52e;
  --color-font-1: #494846;
  --color-font-1: #88857f;

  --process-gray1: #191919;
  --process-gray2: #5e5e5e;
  --process-gray3: #bebebe;
  --process-gray4: #f2f2f2;
  --process-yellow: #ffeb3b;
  --process-magenta: #673ab7;

  --color-blue-1: #4963be;
}

body {
  background: var(--background--page);
}

/* ELEMENTOS */
main {
  width: 90%;
  height: 100vh;
  margin: auto;
}

/* ======> CONTROLE DE PAGE/SECTION <====== */

#hide {
  display: none;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
}

.logo-h1 {
  margin: auto 0px 100px 0px;
  font-size: 35px;
  opacity: 70%;
}

.icons-container {
  display: flex;
  margin: 0px 0px auto 0px;
  width: 400px;
  justify-content: space-between;
}

.icons-container img {
  width: 100px;
  height: 100px;
}

.container h2 {
  padding: 0px;
  margin: auto 0px 30px 0px;
  opacity: 50%;
}

.container .btn-capture {
  margin: 0px 0px auto 0px;
  width: 321px;
  height: 133px;
  font-size: 48px;
  font-weight: 700;
  background: var(--button-green);
  opacity: 70%;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.container .btn-capture:hover {
  margin: 0px 0px auto 0px;
  width: 321px;
  height: 133px;
  font-size: 48px;
  font-weight: 700;
  background: var(--button-green1);
  opacity: 70%;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.capture-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  margin: 100px;
}

/* =====> inicial-capture <====== */
.capture-text .btn-capture {
  margin: 50px;
}

.capture-text {
  width: 80%;
  background-color: var(--background--textarea);
  font-size: 3rem;
  color: var(--color-font-1);
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  height: 400px;
  resize: none;
  border: solid 2px var(--button-green);
}
/* =====> finish inicial-capture <====== */

/* =====> process-main <====== */
.process-main {
  padding: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.process-main h2 {
  color: var(--process-gray1);
  margin-bottom: 80px;
  text-align: center;
  font-size: 2rem;
}

.tasks li {
  display: block;
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--process-gray3);
  color: var(--process-gray2);
  height: 100px;
  font-size: 1.5rem;
  border-radius: 12px;
  border: solid 1px var(--process-gray1);
}

.tasks {
  margin-top: 50px;
  display: flex;
}

.tasks li:hover {
  background-color: var(--process-yellow);
  color: var(--process-gray1);
}
/* =====> finish process-main <====== */

/* =====> Modal config <====== */
.modal-background {
  position: absolute;
  margin: auto;
  width: 90%;
  height: 100vh;
  background: #c4c4c496;
}

.modal {
  background: #e7ded1;
  width: 70%;
  height: 370px;
  border-radius: 16px;
  margin: auto;
}

.modal p {
  text-align: center;
  margin-top: 85px;
  font-size: 1.5rem;
  color: #000000;
}

.modal p + p {
  margin-top: 20px;
  color: #0000009f;
}

/* =====> finish modal config <====== */

/* =====> button sim e não <====== */

/* .bnt-container {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  width: 400px;
}
.bnt-container button {
  border: none;
  border-radius: 16px;
  background: #4963be;
  width: 150px;
  height: 56px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
} */

/* =====> Fim button sim e não <====== */

/* =====> button option não <====== */

/* .not-action {

} */

/* =====> Inicio firstAct <====== */

.first-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-action p {
  font-size: 1.8rem;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px;

}

.container-btn button {
  border: none;
  border-radius: 16px;
  background: var(--color-blue-1);
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

/* =====> Fim firstAct <====== */

/* =====> Footer <====== */
.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 20px;
}


