<%- include("../partials/head.ejs") %>
<header class="eHome-header header">
  <h1>Filtro Delegate</h1>
  <div class="img-container">
      <a href="/eHome"><img src="/assets/casaNoColor.png" alt=""></a>
      <a href="/eJob"><img src="/assets/pastaNoColor.png" alt=""></a>
      <a href="/eDelegate"><img src="/assets/pessoinhas.png" alt=""></a>
  </div>
</header>
<section class="container-eDelegate" id="">
  <ul class="eDelegate">
  </ul>
</section>

<%- include("../partials/footer.ejs") %>