<%- include("../partials/head.ejs") %>
<header class="eDelegate-header header">
  <img src="/assets/pessoinhas.png" alt="">
  <h1>Filtro Delegate</h1>
</header>
<section class="container-eDelegate" id="">
  <ul class="eDelegate"></ul>
</section>

<%- include("../partials/footer.ejs") %>