<%- include("../partials/head.ejs") %>
<header class="eHome-header header">
    <h1>Filtro Home</h1>
    <div class="img-container">
        <a href="/eHome"><img src="/assets/casa.png" alt=""></a>
        <a href="/eJob"><img src="/assets/pastaNoColor.png" alt=""></a>
        <a href="/eStreet"><img src="/assets/pessoinhasNoColor.png" alt=""></a>
    </div>
</header>

<section class="container-eHome">
    <nav class="eHome" id="">

    </nav>
</section>



<%- include("../partials/footer.ejs") %>