<%- include("../partials/head.ejs") %>
<header class="eHome-header">
    <h1>Próximas ações</h1>
    <div class="img-container">
        <a href=""><img src="/assets/casa.png" alt=""></a>
        <a src="" href=""><img src="/assets/pasta.png" alt=""></a>
        <a src="" href=""><img src="/assets/comercial.png" alt=""></a>
    </div>
</header>

<section class="container-eHome">
    <ul class="eHome" id="">

    </ul>
</section>



<%- include("../partials/footer.ejs") %>