<%- include("../partials/head.ejs") %>
<header class="eHome-header header">
  <ul class="act-task"></ul>
    <div class="img-container">
        <button class="casa"><img src="/assets/casa.png" alt=""></button>
        <button class="trabalho"><img src="/assets/pastaNoColor.png" alt=""></button>
        <button class="rua"><img src="/assets/pessoinhasNoColor.png" alt=""></button>
    </div>
</header>

<section class="container-eHome">
    <nav class="eHome" id="">

    </nav>
</section>



<%- include("../partials/footer.ejs") %>