<%- include("../partials/head.ejs") %>
<header class="eHome-header header">
  <h1>Filtro Job</h1>
  <div class="img-container">
      <a href="/eHome"><img src="/assets/filters/casaNoColor.png" alt=""></a>
      <a href="/eJob"><img src="/assets/filters/pasta.png" alt=""></a>
      <a href="/eStreet"><img src="/assets/filters/streetNoColor.png" alt=""></a>
  </div>
</header>

<section class="container-job" id="">
  <ul class="eJob">
    
  </ul>
</section>

<%- include("../partials/footer.ejs") %>