<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="execute-main">
  <div class="container-btn">
    <button>DELEGADAS</button>
    <button>AÇÕES</button>
    <button>AGENDADAS</button>
  </div>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>