<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="execute-main">
  <div class="container-btn">
    <a href="eDelegate"><button>DELEGADAS</button></a>
    <a href="eDelegate"><button>AÇÕES</button></a>
    <a href="eDelegate"><button>AGENDADAS</button></a>
  </div>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>