<%- include("../partials/head.ejs") %>
<header class="eSchedule-header header">
  <h1>Agendadas</h1>
  <div class="container-week">
    <a href="/eSchedule">Hoje</a>
    <a href="/eScheduleWeek">Esta Semana</a>
  </div>
</header>
<section class="container-eSchedule" id="">
  <ul class="eSchedule">
  </ul>
</section>

<%- include("../partials/footer.ejs") %>