<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="schedule-action">
  <ul class="act-task"></ul>
  <div class="container-input">
    <input type="date" name="" id="">
    <input type="datetime" name="" id="">
</div>
  <div class="container-btn">
    <button>AGENDAR</button>
  </div>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>