<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="container-delegate">
    <img src="/assets/comercial.png" alt="">
    <textarea name="delegate" id="delegate-text" cols="30" rows="10" placeholder="para quem?"></textarea>
    <a href=""><button>Delegar</button></a>
</div>



<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>