<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="container-delegate">
    <img src="/assets/comercial.png" alt="">
    <input class="delegate-text" placeholder="Digite o nome da pessoa"></textarea>
    <div class="container-btn"><button>Delegar</button></div>
</div>



<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>