<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="first-action">
    <button></button>
    <button></button>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>