<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="first-action">
    <p class="act-task"></p>
    <p>DEMANDA AÇÃO</p>
    <div class="container-btn">
      <button>SIM</button>
      <button>NÃO</button>
    </div>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>