<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="first-action">
    <p class="act-task"></p>
    <p class="cta">DEMANDA AÇÃO</p>
    <div class="container-btn">
      <a href="/yes"><button>SIM</button></a>
      <a href="/not"><button>NÃO</button></a>
    </div>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>