<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="container-nextAct">
  <p class="act-task"></p>
  <p class="label">Contexto da Ação</p>
  <div class="container-btn">
    <button class="casa">CASA</button>
    <button class="trabalho">TRABALHO</button>
    <button class="rua">RUA</button>
  </div>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>
