<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="not-action">
  <ul class="act-task"></ul>
  <div class="container-btn">
    <button class="trash">LIXO</button>
    <button class="incubar">INCUBAR</button>
    <button class="referencia">REFERÊNCIA</button>
  </div>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>