<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="now-action">
  <div class="container-label">
    <ul class="act-task"></ul>
    <p><span>2:00</span>min</p>
</div>
  <div class="container-btn">
    <button class="concluded">CONCLUÍDO</button>
  </div>
</div>

<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>