<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="yes-container">
    <div class="container-yes-um">
        <a href=""><button>Fazer agora</button></a>
    </div>
    <div class="container-yes-dois">
        <a href=""><button>Delegar</button></a>
        <a href=""><button>Proxima ação</button></a>
        <a href=""><button>Agendar</button></a>
    </div>
</div>


<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>