<%- include("../partials/head.ejs") %>

<%- include("../partials/modalUp.ejs") %>

<div class="yes-container">
    <ul class="act-task"></ul>
    <div class="container-yes-um">
        <button class="fazer_agora">Fazer agora</button>
    </div>
    <div class="container-yes-dois">
        <button class="delegar">Delegar</button>
        <button class="próxima_ação">Proxima ação</button>
        <button class="agendar">Agendar</button>
    </div>
</div>


<%- include("../partials/modalDown.ejs") %>

<%- include("../partials/footer.ejs") %>